<a href="https://colab.research.google.com/github/ivnizhnik/Data_Science_Project_B/blob/main/TimeSpendSleeping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Source of data: data.world

from google.colab import drive
drive.mount('/content/drive')

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
df = pd.read_excel('/content/drive/MyDrive/Data_Science_Project_A/Time Americans Spend Sleeping.xlsx')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   Year  Period  Avg hrs per day sleeping  ...          Age Group  Activity   Sex
0  2003  Annual                      8.57  ...  15 years and over  Sleeping  Both
1  2004  Annual                      8.55  ...  15 years and over  Sleeping  Both
2  2005  Annual                      8.62  ...  15 years and over  Sleeping  Both
3  2006  Annual                      8.63  ...  15 years and over  Sleeping  Both
4  2007  Annual                      8.57  ...  15 years and over  Sleeping  Both

[5 rows x 8 columns]

***First choice: dataset 2***

**1) Source of data:** data.world

**2) Brief description of data:** The dataset consists of 8 columns/features and 945 rows/samples with zero missing data as well as zero duplicated rows. The brief statistical overview of the dataset provides a healthy start for data exploration and further analysis of time spend sleeping in the US.

**3) What is the target?** target is average number of hours sleeping per day

**4) Is this a classification or regression problem?** It's originally a regression problem as target is average number of hours slept per day.

**5) How many features?** 8

**6) How many rows of data?** 945

**7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?** The feature age group has overlapping data that I need to figure out a way to sort out. Also, I could potentially turn the y into a binary variable (for instance slept less than 3 hours as very unhealthy, between 3-6 hours as unhealthy, and above hours as healthy)

In [2]:
df.shape

(945, 8)

In [3]:
df.describe()

              Year  Avg hrs per day sleeping  Standard Error
count   945.000000                945.000000      945.000000
mean   2010.000000                  8.806868        0.086958
std       4.322782                  0.545001        0.034631
min    2003.000000                  7.720000        0.018000
25%    2006.000000                  8.360000        0.063000
50%    2010.000000                  8.810000        0.084000
75%    2014.000000                  9.190000        0.106000
max    2017.000000                 10.650000        0.228000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      945 non-null    int64
 1   Period                    945 non-null    object
 2   Avg hrs per day sleeping  945 non-null    float64
 3   Standard Error            945 non-null    float64
 4   Type of Days              945 non-null    object
 5   Age Group                 945 non-null    object
 6   Activity                  945 non-null    object
 7   Sex                       945 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 59.2+ KB

In [5]:
df.isnull().sum()

Year                        0
Period                      0
Avg hrs per day sleeping    0
Standard Error              0
Type of Days                0
Age Group                   0
Activity                    0
Sex                         0
dtype: int64

In [6]:
df.duplicated().sum()

0